.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box___6HJxo {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box___6HJxo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box___6HJxo > :global(.__wab_flex-container) > *,
.box___6HJxo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.box__q0TuI {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__q0TuI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__q0TuI > :global(.__wab_flex-container) > *,
.box__q0TuI > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__q0TuI {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__q0TuI > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__q0TuI > :global(.__wab_flex-container) > *,
  .box__q0TuI > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.box__yaxlh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box__yaxlh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__yaxlh > :global(.__wab_flex-container) > *,
.box__yaxlh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__yaxlh {
    width: 100%;
    min-width: 0;
  }
}
.box__opHf3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}
.box__at0Vj {
  position: relative;
  text-align: left;
}
.bullet__haPdV:global(.__wab_instance) {
  position: relative;
}
.bullet___56R0Y:global(.__wab_instance) {
  position: relative;
}
.bullet__l4Wg5:global(.__wab_instance) {
  position: relative;
}
.box__yWr5Y {
  position: relative;
  text-align: left;
}
.box___2Sbt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___2Sbt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box___2Sbt > :global(.__wab_flex-container) > *,
.box___2Sbt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
.box__jl2Ga {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__jl2Ga {
    width: 100%;
    min-width: 0;
  }
}
.img___0MueE {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__uK7J {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
