.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__hjWs {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: K4KN5BtRYx3Gr3 */;
}
.box__mky1S {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__mky1S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__mky1S > :global(.__wab_flex-container) > *,
.box__mky1S > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mky1S {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mky1S > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mky1S > :global(.__wab_flex-container) > *,
  .box__mky1S > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__doRv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__doRv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__doRv > :global(.__wab_flex-container) > *,
.box__doRv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__qn990:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__mjD0P {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__m8DRq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__okiy8 {
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__okiy8:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box___5UN0 {
  position: relative;
}
.link__v3VxG {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__v3VxG:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__cfQ8 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__cfQ8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__cfQ8 > :global(.__wab_flex-container) > *,
.box__cfQ8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cfQ8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cfQ8 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cfQ8 > :global(.__wab_flex-container) > *,
  .box__cfQ8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__xNqw4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__xNqw4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__xNqw4 > :global(.__wab_flex-container) > *,
.box__xNqw4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__nVap2 {
  position: relative;
  font-weight: 700;
}
.link__didsr {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__didsr:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___5Dea {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link___5Dea:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__emCsm {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__emCsm:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hr5Sb {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__hr5Sb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___8RvSt {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link___8RvSt:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__mwHij {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__mwHij > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__mwHij > :global(.__wab_flex-container) > *,
.box__mwHij > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__ymePj {
  position: relative;
  font-weight: 700;
}
.link__bjpBs {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__bjpBs:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__lZloQ {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__lZloQ:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___7CpZu {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link___7CpZu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wB4Fu {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__wB4Fu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___0Gm7U {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link___0Gm7U:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__s8Skk {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__s8Skk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__s8Skk > :global(.__wab_flex-container) > *,
.box__s8Skk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__csUcP {
  position: relative;
  font-weight: 700;
}
.link__dP6W {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__dP6W:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__iB1WJ {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__iB1WJ:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___8FZno {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link___8FZno:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___7Y2Fb {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link___7Y2Fb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__nmbx4 {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link__nmbx4:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__dhVna {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__dhVna > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__dhVna > :global(.__wab_flex-container) > *,
.box__dhVna > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__vkFy {
  position: relative;
  font-weight: 700;
}
.box__zx2Pn {
  position: relative;
}
.box__ohDvd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__g2AK {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: K4KN5BtRYx3Gr3 */;
}
.box__ptHrT {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__ptHrT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ptHrT {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ptHrT > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__ptHrT > :global(.__wab_flex-container) > *,
  .box__ptHrT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__i24Dv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___6R3B9 {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
  height: auto;
}
.root .link___6R3B9:hover {
  text-decoration-line: underline;
}
.link___36Tmb {
  position: relative;
  color: #535353 /* plasmic-token: nuirjnsDL2-xlR */;
}
.root .link___36Tmb:hover {
  text-decoration-line: underline;
}
.box__fcFkd {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box___76HaR {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___76HaR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___76HaR > :global(.__wab_flex-container) > *,
.box___76HaR > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__hfRLk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bEq6E {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__bEq6E:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__njRQg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dnVp5 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__dnVp5:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___16D3B:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qQe7D {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__qQe7D:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
